<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992329830264-r6nvg9o1ut9ulaji524q70u55qm6ie08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992329830264-r6nvg9o1ut9ulaji524q70u55qm6ie08</string>
	<key>API_KEY</key>
	<string>AIzaSyDOzLpGa3_LbhAhX2y2A0joNAjeGpvbYBY</string>
	<key>GCM_SENDER_ID</key>
	<string>992329830264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapin</string>
	<key>PROJECT_ID</key>
	<string>tapin-c8ac8</string>
	<key>STORAGE_BUCKET</key>
	<string>tapin-c8ac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992329830264:ios:2781fd3216a306b4f6c28d</string>
</dict>
</plist>